.itemize{
	padding-top: 5px;
	padding-bottom: 5px;
}

.social-media-icons {
	font-size: 1.5em;
	margin-right: 0.3em;
}

.facebook-icon {
	color:#3b5998;
}

.linkedin-icon {
	color:#0077b5;
}

.googleplus-icon {
	color:#dd4b39;
}

.word-cloud {
	max-width: 450px;
}

.copyright {
	font-size: 0.8em;
}

.sidebar {
	width: 100%;
	background-color: #f8f8f8;
	border-radius:4px;
	border: 1px solid;
	border-color: #e7e7e7;
}

.sidebar .nav>li>.nav-category {
	display: block;
	padding: 10px 15px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}

.nav>li>a {
    color: #000;
    font-weight: 400;
}

.nav>.active>a {
	background-color: #eeeeee;
    font-weight: 500;
}

.CV_primary_list {
	list-style-type: none;
}

.CV_primary_list > li {
	margin-bottom: 10px;
}

.section{
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 20px;
}

.sectionHeader{
	padding: 1px 20px;
	border-radius: 4px;
	background-color: #eeeeee;
}

.sectionHeader > h4 {
	line-height: 25px;
}

.sectionContent{
	padding: 20px;
}

.centered{
	display:block;
	margin-left: auto;
    margin-right: auto;
}

img.in-project{
	max-width:100%;
	width:500px;
}

.carousel-inner{
	background-color: #fafafa;
	cursor: pointer;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .1)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control {
  filter: alpha(opacity=70);
  opacity: .7;
}

.carousel-control:hover,
.carousel-control:focus {
  filter: alpha(opacity=95);
  opacity: .95;
}

.slide{
	margin-bottom: 20px;
}

.carousel-indicators{
	bottom: -35px;
}
.carousel-indicators li {
  background-color: #f2f5f5;
  border: 1px solid #999999;
}
.carousel-indicators .active {
  background-color: #666666;
}

.pattern-table{
	margin: 8px auto;
}

.pattern-table > thead > tr > th {
	border-top:solid 1.5pt;
	border-left:none;
	border-bottom:solid 1.0pt;
	border-right:none;
	font-weight: 500;
	font-size: 0.85em;
	text-align: center;
}

.pattern-table > tbody > tr > td {
	border:none;
	border-bottom:solid 1.0pt;
	padding: 0pt 5pt;
	font-size: 0.8em;
}

.pattern-table > tbody > tr > td.category {
	font-weight: 500;
}

a.pill{
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:24px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#DDDDDD;
}

a.pill:hover{
	background-color:#F6F6F6;
}

@media screen and (min-width: 768px) {
	#img-viewer-model-dialog {
		width: 90%;
	}
}

@media screen and (min-width: 992px) {
	#img-viewer-model-dialog {
		width: 900px;
	}
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 20px;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: blue; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: yellow;
}

/**
 * Visually hidden yet accessible content
 */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.text-intro {
	text-align: justify;
	margin-left: auto;
	margin-right:20px;
}